# Basic Exploratory Data Analysis (EDA)<span class="tocSkip"></span>

This notebook will introduce you to the necessary tools for exploring a dataset in Python, and will also guide you through the steps of creating most common charts. It does not require prior Python programming experience, but assumes you have some programming intuition.

Use this notebook as a tutorial, that is: read the text and the examples, solve the exercises. Execute all code cells in linear order from the beginning [ press `Shift+Enter` to run a cell ] .

<div class="alert-info alert" role="alert-info">  
To solve the exercises, write Python code between the **marker lines**,
which look like this:
</div>

>`#//`
>    `BEGIN_TODO [Label]` `Description` `(n points)`
>
>`#//`
>    `END_TODO [Label]`

<div class="alert alert-info" role="alert-info">
Your solutions can be tested automatically by Momotor, if you follow these conventions:
<ul>
    <li>Do NOT modify or delete these marker lines.  Keep them as they are.</li>
    <li>NEVER write code <i>outside</i> the marked blocks. Such code cannot be automatically evaluated.</li>
    <li>Work with the provided datasets, without changing their location or their content.</li>
</ul>
</div>

    
## How to submit your work

1. **Before submitting**, you must run your notebook by doing **Kernel > Restart & Run All**.  
   Make sure that your notebook runs without errors **in linear order**.

2. Submit the executed notebook with your work
   for the appropriate assignment in **Canvas**.

* In the **Momotor** tab in Canvas,
  you can select that assignment again to find some feedback on your submitted work.
  
* If there are any problems reported by _Momotor_,
  then you might want to fix those,
  and **resubmit the fixed notebook**.

In case of a high workload on the server
(because many students submit in the same time),
it may take longer to receive the feedback from Momotor. Do not panic :-)

# Learning Objectives

After reading the explanations and completing the work in this notebook, you should be able to work with Pandas `DataFrame` and `Series` objects; in particular, you will be able to:
* create a dataframe from given values or loaded from a CSV file
* inspect and modify dataframes
* compute summary statistics for a dataframe
* visualize dataframes

# Introduction


There are many Python libraries providing solutions for specific data analysis tasks.
In this notebook, we will use to the **Pandas** library.
The name '_Pandas_' is a contraction of '_Panel Data_',
which you can think of as tabular data, like a spreadsheet,
with multiple (labeled) rows and columns.

The Pandas library is automatically installed when _Anaconda_ is installed.

Below you will find several key features of Pandas that help to achieve maximal effect. You might want to learn more - see recommended resources in the Python introduction module on Canvas.

#### Importing the library

In order to use facilities from Pandas, you first need to import the Pandas library.
It is useful to import NumPy as well,
even though we will not make (much) use of it,
since Pandas is built on top of NumPy.

The next code cell shows the common way to do these imports,
introducing the abbreviations `np` for NumPy and `pd` for Pandas.
Execute this code cell (it will not result in any output).

In [ ]:
import numpy as np
import pandas as pd

## <span class="section">1.</span> Creating, inspecting and modifying Data Frames

The most important data type of the Pandas library is **`pd.DataFrame`**.
It is a _composite_ data type, whose values are called **data frames**.

A data frame is a two-dimensional arrangement of data values. It can be helpful to think of it as a table with rows and columns. 
The data itself is typically of a primitive data type (`int`, `float`, `bool`, `str`,
but also some variants of these as offered by the NumPy library;
details are not relevant at this point).

Here is an example in which we create a data frame from scratch; we name it `df`.
It has

* four rows indexed from 0 through 3, and
* three columns labeled `'A'`, `'B'`, and `'C'`.

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': ['one', 'two', 'three', 'four'], 'C': [False, True, False, True]})
df

The following diagram illustrates some terminology:

<img src="attachment:DataFrame-terminology.png" alt="DataFrame terminology" align="center" width="400px">

* A **row** is a horizontal selection of data values.
* A **column** is a vertical selection of data values.
* The **index** provides an identification of the rows.
* The **column labels** provide an identification of the columns.

Typically, all values in one column have the same type.
Values in a row can be of different types.

### Information about a `DataFrame`

The following attributes provide information about the `DataFrame df`.

* **`df.shape`** : the number of rows and number of columns
* **`df.index`** : the row index
* **`df.columns`** : the column labels
* **`df.dtype`** : the types of the values in each column

In [ ]:
df.shape

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.dtypes

The `DataFrame` function **`info()`** returns
an overview of a data frame, including its `RangeIndex`, number of `non-null` elements per column, types of the values in each column, and memory usage:

In [ ]:
df.info()

We see that there are 4 rows. There are three columns of data, each containing 4 values of the following types:

* column `'A'` contains 64-bit integers
* column `'B'` contains generic Python objects
> NOTE: A column containing `string` values, or values of different types, will  be assigned the `object` type.
* column `'C'` contains boolean values

### Exercise <span class="exercise">1.a</span>

Suppose we are given the names and years of birth of five persons,

In [ ]:
names = ['Peter', 'Anna', 'Tom', 'John', 'Simone']
years = [ 1998, 2002, 1946, 1973, 1962 ]

and want to organize this information in a data frame.

Create a dataframe `df_years` out of this information containing two columns. One column should be labeled `'Name'` and contain the names, and the other should be labeled `'Year of birth'` and contain the year of birth.

In [ ]:
#// BEGIN_TODO [EDA_1a] Create a dataframe (1 point)
#// END_TODO [EDA_1a]
df_years

### `Index` and `Series` objects

To understand Pandas data frames better,
you should know about two more data types:

* **`pd.Index`**:
    this is a special type of object that holds the index;
    by default, it is just a range of integers starting from 0.
* **`pd.Series`**:
    this type represents a single named sequence of data values of the same type,
    with an index.  
    It is used for a single column in a data frame,
    but also for a row extracted from a data frame,
    where the column labels then serve as the `Series` index,
    and the row index serves as the `Series` name.
    
Thus, a data frame is a sequence of `Series` objects,
with a shared `Index` object.
The names of the `Series` objects are the column labels.

Let us again consider the example with the list of names and years of birth

In [ ]:
names = ['Peter', 'Anna', 'Tom', 'John', 'Simone']
years = [ 1998, 2002, 1946, 1973, 1962 ]

This time, instead of creating a data frame, we create a `Series` object out of the information as follows. The `Series` object itself will contain the years of birth, it will be indexed by the names, and the object will be called `'Years of birth'`. We assign the object to variable `se_years`:

In [ ]:
se_years = pd.Series( years, index=names, name='Years of birth' )
se_years

### Exercise <span class="exercise">1.b</span>

Create a `pd.Series` object containing the following prices (in Euro)

In [ ]:
prices = [2, 1, 3, 2.5, 1.5 ]

and indexed by the following items

In [ ]:
items  = ['bread', 'milk', 'chips', 'bananas', 'carrots']

The series should be named `'Price (Euro)'`. Assign the resulting series to the variable `se_shopping_list`.

In [ ]:
#// BEGIN_TODO [EDA_1b] Create an indexed list (1 point)
#// END_TODO [EDA_1b]
se_shopping_list

### Getting data from a `DataFrame`

You can **get a column** from a data frame by indexing, just like a sequence.
The result is a `Series` object.
This is useful to extract a particular feature from the data set.

In [ ]:
df['B']

To **get a row** from a data frame,
you use the `DataFrame` attribute `loc`.
It is called an _indexer attribute_,
because it supports indexing
with _square brackets_, just like indexing of lists.
The result is also a `Series` object:

In [ ]:
df.loc[2]

You can **get a value** at a given location in a data frame
in several ways:

* **`df[column_label][row_index]`** : first get the column,
    then get the value from the resulting `Series` object
* **`df.loc[row_index, column_label]`** : get the value directly,
    using `loc` with the row index and column label

In [ ]:
df['B'][2], df.loc[2, 'B']

_Slicing_ can be used to **get larger parts from a data frame**,
with a syntax similar to the slicing of lists.

> NOTE: When slicing `DataFrame` and `Series` objects
> with the syntax `.loc[start:stop]`,
> the **`stop` value is included**.  
> This contrasts to _list_ slicing, where `stop` is _not_ included.

To select a slice of rows,
use `.loc[start:stop]`.
The result is a (new!) data frame:

In [ ]:
df.loc[1:2]

When `start` or `stop` is omitted in the slice `start:stop`,
the first or last item is implied. Therefore, `.loc[:]` extracts all rows:

In [ ]:
df.loc[:]

The `DataFrame` function call **`df.head(n)`** returns the first `n` rows of the data frame `df`,
regardless of how the rows are indexed.
The default value for `n` is 5 (i.e. omitting the value in `df.head()` is equivalent to `df.head(5)`).

In [ ]:
df.head(2)

You can also apply slicing to the columns:

In [ ]:
df.loc[:, 'A':'B']

Note that here the first `:` argument tells to select all the rows.

Using `.loc` we can also extract a particular slice of rows and columns in one go:

In [ ]:
df.loc[1:2, 'A':'B']

To **get _non-adjacent_ rows**,
use `.loc` with a _list of row indices_
(note the **double square brackets**).
The result is a (new!) data frame:

In [ ]:
df.loc[[1, 3]]

You can also **get _non-adjacent_ columns**.
One way is by providing a _list of column labels_ directly to the data frame
(note the **double square brackets**).
The result is a (new!) data frame:

In [ ]:
df[['A', 'C']]

An alternative way of getting non-adjacent columns,
is to use `.loc` with a _full slice_ for the rows using just '`:`':

In [ ]:
df.loc[:, ['A', 'C']]

Note that `df['B']` returns column '`B`' as a `Series` object.
Sometimes it is more convenient to get it as a `DataFrame` with one column.
This is achieved by using a list with only one element `'B'` as column label
(note the **double square brackets**):

In [ ]:
df[['B']]

### Exercise <span class="exercise">1.c</span>

For the purpose of this exercise, we first organize the information

In [ ]:
prices = [2, 1, 3, 2.5, 1.5 ]
items  = ['bread', 'milk', 'chips', 'bananas', 'carrots']

into a data frame called `df_shopping_list`

In [ ]:
df_shopping_list = pd.DataFrame( { 'Item': items, 'Price (Euro)': prices } )
df_shopping_list

Create a _new_ data frame containing the first four rows from `df_shopping_list` and assign it to `df_short_list`.

In [ ]:
#// BEGIN_TODO [EDA_1c] Select first rows (1 point)
#// END_TODO [EDA_1c]

df_short_list

### Exercise <span class="exercise">1.d</span>

Use an expression to select the prices from the rows with indices 2 to 4 (including 4), but now make sure the result is a data frame.

In [ ]:
#// BEGIN_TODO [EDA_1d] Select rows _and_ columns (1 point)
#// END_TODO [EDA_1d]

### Modifying a `DataFrame`

`DataFrame` objects are _mutable_.
In this lesson we will only present two very basic ways of modifying a `DataFrame` object.

To change a value at a particular location of a data frame `df`,
you can use an assignment to the selected item:
```python
df.loc[row, column] = expression
```

In [ ]:
df.loc[0, 'B'] = 'ACE'
df

Modifying values in data frame _slices_ is a little bit cumbersome.

> **IMPORTANT:** For reasons outside the scope of this course, if you want to operate on slices, it is recommended to **explicitly create a copy** of the slice.

For example, let us take a look at the `df` data frame again:

In [ ]:
df

If we take a slice of the `df` data frame:

In [ ]:
df_slice = df.loc[1:2].copy()
df_slice

and modify the values in the first row of the slice:

In [ ]:
df_slice.loc[1, 'A'] = 8
df_slice.loc[1, 'B'] = "EIGHT"
df_slice

the original data frame will not be affected:

In [ ]:
df

### Exercise <span class="exercise">1.e</span>

Let us continue with the shopping list example:

In [ ]:
prices = [2, 1, 3, 2.5, 1.5 ]
items  = ['bread', 'milk', 'chips', 'bananas', 'carrots']
df_shopping_list = pd.DataFrame( { 'Item': items, 'Price (Euro)': prices } )
df_shopping_list

Create a shorter shopping list by taking the rows 0 to 2 from the `df_shopping_list` and assign it to `df_shorter_list`. Change in `df_shorter_list` the price of chips to 2.7 Euro, making sure that the original `df_shopping_list` is not affected.

In [ ]:
#// BEGIN_TODO [EDA_1e] A new shorter list (1 point)
#// END_TODO [EDA_1e]

df_shorter_list

##  <span class="section">2.</span> Loading a file into a `DataFrame`. Summary statistics

The most common format for storing data in a file is the **comma-separated values** (**CSV**) format,
usually consisting of:
* one header line with column labels,
* each row on a line of its own,
* commas to separate the fields in each row
    (in some cases, you may encounter semicolons or TABs),
* strings enclosed in double quotes
    (in some case, strings are not enclosed), and
* floating-point numbers using a decimal point (not a comma).

The example file is named `country-data.csv`. It was adapted from this repository: https://github.com/lorey/list-of-countries. This file is located in the `datasets` directory.

In [ ]:
file_countries = './datasets/country-data.csv'

We use the function **`pd.read_csv`** to load the data from that file into a `DataFrame`
that we will name `country_data`.

In [ ]:
country_data = pd.read_csv(file_countries)
country_data.head()

### Exercise <span class="exercise">2.a</span>

Show just the `'name'`, `'area'` and `'population'` columns for the first 10 rows of `country_data`.

In [ ]:
#// BEGIN_TODO [EDA_2a] Name, area, and population for first 10 rows (1 point)
#// END_TODO [EDA_2a]

In [ ]:
country_data.info()

We see that there are 251 rows.
Therefore, some columns have missing values:

* `tld` misses 2 values
* `capital` misses 6 values

These are the seven columns of data and their types:

* `name` (string): country name in English
* `alpha_3` (string): 3-letter ISO 3166-1 country code
* `tld` (string): top-level domain in Domain Name System
* `continent` (string): 2-letter continent code
* `capital` (string): capital city in English
* `area` (float): area in square kilometer
* `population` (integer): population (measurement date/source unclear; cf. https://geonames.org/)

### Summary statistics

Summary statistics for **numeric columns** in a data frame `df`
can be obtained by **`df.describe()`**:

In [ ]:
country_data.describe()

To get summary statistics for **all columns** supply the argument **`include='all'`**:

In [ ]:
country_data.describe(include='all')

> NOTE: **NaN** stands for **"Not a Number"** and represents a **missing value**,
> also known as **not available** or **null value**.

From these summary statistics for the country data, we see that

* names and alpha-3 codes are unique (maximum frequency equals 1)
* 3 countries share the top-level domain `.gp`
* there are 7 continents, and Africa has the most countries (58)
* 2 capitals are named Kingston, and there are no other such duplicates

### Separate statistics

There are also functions to obtain separate statistics for `DataFrame df`:

* **`df.count()`** : Return the **number** of values
* **`df.sum()`** : Return the **sum** of the values
* **`df.mean()`** : Return the **mean** of the values
* **`df.std()`** : Return the **sample standard deviation** of the numeric values,
    normalized by $N-1$, where $N$ is the number of values
* **`df.min()`** : Return the **minimum** of the values
* **`df.max()`** : Return the **maximum** of the values
* **`df.median()`** : Return the **median** of the values
* **`df.quantile(q)`** : Return the value at the given **percentile** `q`;
    `q=0.5` is default, giving the **median**

Notes:

* **NaN/null values** are skipped by default.
* If the data frame has more than one column with relevant data,
    then a `Series` object is returned with the statistic for each column.

Let's compute the total _area_ and _population_:

In [ ]:
country_data[['area', 'population']].sum()

## <span class="section">3.</span> Manipulating a `DataFrame`

### Sorting
To sort a data frame `df` by the values in column `'c'` use **`df.sort_values(by='c')`**.
Note that this does not modify the data frame,
but rather returns a new data frame. To sort in **descending order**, supply the argument **`ascending=False`**.
<br>A series is sorted by the same function,
but it does not need the `by` argument.

Here is the country data sorted by decreasing area:

In [ ]:
country_data.sort_values(by='area', ascending=False)

> A data frame can be **sorted in place**,
> that is, the data frame is modified,
> rather than returning a new data frame.
> This is achieved by supplying the argument **`inplace=True`**,
> but is not recommended (rather, assign the result to a new variable).

To **sort on multiple columns**, provide a _list of column labels_:

In [ ]:
country_data.sort_values(by=['continent', 'name'])

As you can see, the index (left-most column) labels are sorted along as well.
If you want to have a new index for the result, in sorted order,
then you can use the function **`reset_index()`**.
The old index is preserved as well in the column labeled `'index'`.

Let's sort the country data by _population_,
reset the index, and assign the result to variable `country_data_sorted_by_pop`:

In [ ]:
country_data_sorted_by_pop = country_data.sort_values(by='population', ascending=False).reset_index()
country_data_sorted_by_pop

### Computing values from a `DataFrame`

You can apply **arithmetic operations** on entire data frames or series,
such as selected columns.

Let's calculate the _population density_ (_population_ divided by _area_) for each country, 
and **add a new column** with the computed density values.  
We put it in a new column labeled `'density'` as follows:

In [ ]:
country_data['density'] = country_data['population'] / country_data['area']
country_data.head()

### Exercise <span class="exercise">3.a</span>

Add a new column labeled `specific_area` with the _specific area_
(_area_ divided by _population_) **expressed in $\mathrm{m}^2$ per person**,
and show the first five rows of the data frame.

Hint: The default value of `head()` is five.

In [ ]:
#// BEGIN_TODO [EDA_3a] Add 'specific_area' column (1 point)
#// END_TODO [EDA_3a]

### Exercise <span class="exercise">3.b</span>

Show the result of sorting `country_data` in _descending_ order on _density_:

In [ ]:
#// BEGIN_TODO [EDA_3b] Sort on density in descending order (1 point)
#// END_TODO [EDA_3b]

### Boolean masks

Such computations can also be used to calculate boolean values.
For instance, let's compute which countries are in _Europe_.  
We assign it to variable `countries_in_EU` for later use.

In [ ]:
countries_in_EU = country_data['continent'] == 'EU'
countries_in_EU

This may not seem very useful, but wait and see.

Such a column of boolean values is also called a **boolean mask**.
It can be used to select rows,
as explained next.

### Exercise <span class="exercise">3.c</span>

Compute a boolean mask that is `True` for those rows that have a _population_
larger than 100 million.
Assign it to the variable `large_population`.

In [ ]:
#// BEGIN_TODO [EDA_3c] Boolean mask for population larger than 100 million (1 point)
#// END_TODO [EDA_3c]

large_population

### Selecting rows by boolean masks

A **boolean mask** can be used to select those rows
for which the mask contains the value `True`.
This is done by using the boolean mask as index of the data frame.

So, let's find those countries in _Europe_:

In [ ]:
country_data[countries_in_EU]

And here is the data for the _Netherlands_,
knowing that is has _top-level domain_ `.nl`:

In [ ]:
country_data[country_data['tld'] == '.nl']

The `Series` function **`isnull()`** can be used to create a **boolean mask
for missing values** (these are also known as **not available** (na) or **null values**).

Which countries don't have a _top-level domain_:

In [ ]:
country_data[country_data['tld'].isnull()]

Boolean masks can be **combined** into more complex boolean conditions using the following operators:

* **`&`** for 'and'
* **`|`** for 'or'
* **`~`** for 'not'

These bind stronger than comparison operators
(use parenthesis to evaluate comparisons first; see next example).

Let's show data for contries with a _population_ less than one million and
an _area_ more than one hundred thousand square kilometer:

In [ ]:
country_data[(country_data['population'] < 1000000) & (country_data['area'] > 100000)]

### Exercise <span class="exercise">3.d</span>

Show data for those countries in _Europe_ that have a _population_ between ten and twenty million.  
Hint: First compute three separate boolean masks:

* `countries_in_EU` for 'in Europe'
* `pop_more_10M` for 'population at least ten million'
* `pop_less_20M` for 'population at most twenty million'

then combine them into one boolean mask using `&`.

In [ ]:
#// BEGIN_TODO [EDA_3d] Population between ten and twenty million (1 point)
#// END_TODO [EDA_3d]

###  Grouping rows in a `DataFrame`

By sorting a data frame,
you can bring items with the same value together.
But this is not good enough to gather statistics
about groups of equal values.

Take for instance the country data.
What about total _population_ and _area_ per _continent_?

That is where **grouping** comes in.
First, we create a so-called `GroupBy` object
from the data frame,
using the function **`groupby()`**
with the column label(s) to group by as argument.

This is how you group the country data by _continent_,
and assign the `GroupBy` object to variable `grouped`.

In [ ]:
grouped = country_data.groupby('continent')

The **`groups`** attribute of the `GroupBy` object
shows for each continent which rows concern that continent:

In [ ]:
grouped.groups

> Note that Australia and New Zealand are apparently put under Oceania,
> since there is no separate continent `AU`.

The `GroupBy` object can be treated like a `DataFrame` in a number of ways.

For instance, this is how you get the maximum density per _continent_:

In [ ]:
grouped['density'].max()

And this is how you get total _population_ and _area_ per _continent_:

In [ ]:
grouped[['population', 'area']].sum()

### Exercise <span class="exercise">3.e</span>

Show the summary statistics for _population_ per _continent_ (you can reuse the variable `grouped` introduced before).

In [ ]:
#// BEGIN_TODO [EDA_3e] Summary statistics for population per continent (1 point)
#// END_TODO [EDA_3e]

### Deleting rows or columns from a `DataFrame`

To delete one or more rows or columns from `DataFrame df`
use the data frame function **`df.drop()`**.

* **`df.drop(row)`**
* **`df.drop(list_of_rows)`**
* **`df.drop(column, axis=1)`**
* **`df.drop(list_columns, axis=1)`**

This returns a _new data frame_, with the specified rows or columns removed.

The parameter `axis` indicates along which axis to drop.
The default is `axis=0`, to drop rows.

For example, given the following data frame

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': ['one', 'two', 'three', 'four'], 'C': [False, True, False, True]})
df

You can drop the row with index label 1 (i.e. the second row):

In [ ]:
df.drop(1)

You can drop the column with label 'C':

In [ ]:
df.drop('C', axis=1)

You can also **drop rows based on a condition** using `drop()`,
by cleverly combining

* selection with a boolean mask and
* the `index` attribute:

```python
df.drop(df[boolean_mask].index)
```

For example, you can drop countries in Europe from the `country_data` data frame:

In [ ]:
country_data.drop(country_data[countries_in_EU].index)

### Persisting the modifications

The data frame functions that we have discussed so far (`sort_values(), head(), drop()`) return a _new_ data frame, just like the `copy()` method we have seen before. To store the results of any modifications to a data frame we can assign the result to a new variable and then work on that variable.

For example, the `drop()` function will return a new data frame:

In [ ]:
df_drop = df.drop('C', axis=1)
df_drop

The original data frame `df` is not affected by the dropping:

In [ ]:
df

Moreover, any modifications to `df_drop` will not affect `df`:

In [ ]:
df_drop.loc[1, 'B'] = 'EIGHT'
df_drop

In [ ]:
df

#### The `inplace` argument

For many data frame methods you can supply the extra argument **`inplace=True`**, to store the modifications in the target data frame. However, this is usually not recommended; it is often better to assign the result to a new variable.

In [ ]:
df.drop([1, 3], inplace=True)  # drop rows with index labels 1 and 3, modifying df in place
df

## <span class="section">4.</span> Plotting a `DataFrame`

Various plots can be made directly from a `DataFrame` or `Series` object.

First, we

* import the underlying plotting libraries **Matplotlib** and **Seaborn**,
* issue the command **`%matplotlib inline`**
    to make plots appear inside the notebook,
* and configure some parameters (see the comments for details).

In [ ]:
# next command ensures that plots appear inside the notebook
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()  # set Seaborn defaults
plt.rcParams['figure.figsize'] = 10, 5  # default hor./vert. size of plots, in inches
plt.rcParams['lines.markeredgewidth'] = 1  # to fix issue with seaborn box plots; needed after import seaborn

> NOTE: This section presents a brief overview of plotting data for a quick exploration. More advanced plotting and annotation methods that are needed for communicating your data analysis with others will be addressed in _Exercises - VIS_.

The general function to make a plot for a `DataFrame df` is

* **`df.plot(kind='...', ...)`**

where the following kinds of plots are supported.

* **`'line'`** : default
* **`'area'`** : like `'line'`, but with area below line filled in
* **`'bar'`** : vertical bar plot, with separated bars
* **`'barh'`** : horizontal bar plot, with separated bars
* **`'hist'`** : histogram, with automatic binning; use `bins=n` to set the number of bins to `n`
* **`'box'`** : vertical box (and whisker) plot, with outliers
* **`'density'`** : density plot (a kind of continuous histogram)
* **`'scatter'`** : scatter plot

All of these plots, **except `'scatter`'**, apply to `Series` objects as well.

When used on a `DataFrame` object, all (numeric) columns are plotted,
and a **legend** is included.

The extra arguments are mostly irrelevant in this lesson;
the ones that are relevant will be discussed below.

For **box plots** of `DataFrame` objects, there is a special variant:

* **`df.boxplot(column=..., by=...)`** :
    side-by-side box plots for given column(s), grouped by given column(s)

In this lesson, we will stick to default plotting behavior,
which is good enough for _personal plots_.

Remember that you can get built-in help with `?`.  
Execute the following cell to get built-in help for the Pandas plotting function
(most of the details are irrelevant for this lesson):

In [ ]:
df.plot?

### Line plot

We begin with a **line plot** of the  _population_ per country.  
Note that in this plot, the x-axis has the row indices.
Thus, the countries are ordered as in the original data file.

In [ ]:
country_data['population'].plot();

The semicolon ('**`;`**') on the last line
suppresses the textual output (which is not relevant for us).

We can plot the _population_ in descending order,
by using the earlier computed `country_data_sorted_by_pop`:

In [ ]:
country_data_sorted_by_pop['population'].plot();

### Area plot

Now, the same plots as **area plot**:

In [ ]:
country_data['population'].plot(kind='area');

In [ ]:
country_data_sorted_by_pop['population'].plot(kind='area');

### Dot plot

A **dot plot** is obtained by creating a _line plot_ where the _marker_ is set to dots (**`marker='o'`**) and the lines are hidden (**`linestyle=''`**):

In [ ]:
country_data['population'].plot(marker="o", linestyle='');

### Histogram

We plot a **histogram** for the _population_ in _Europe_,
using the default number of bins.  
First, we select the relevant data,
reusing the boolean mask `countries_in_EU`
(this results in a `DataFrame` object,
because of the double square brackets around `'population'`).

In [ ]:
country_data[countries_in_EU][['population']].plot(kind='hist');

When plotting a single series of this data frame,
the histogram will not include a legend
(now there are single square brackets around `'population'`):

In [ ]:
country_data[countries_in_EU]['population'].plot(kind='hist');

Next, we plot a **histogram** for this data,
using 20 bins (`bins=20`), and normalizing the total area to one (`normed=True`):

In [ ]:
country_data[countries_in_EU][['population']].plot(kind='hist', bins=20, normed=True);

### Density plot

A **density plot** (a kind of continuous histogram) for the same data:

In [ ]:
country_data[countries_in_EU][['population']].plot(kind='density');

>NOTE: The contribution of each value is smeared out and integrated.  
> Of course, there are no negative populations.

### Box plot

A **box plot** for the _population_
(note the **outliers**):

In [ ]:
country_data[countries_in_EU][['population']].plot(kind='box');

A **box plot** for the _population_ **grouped by** _continent_:

In [ ]:
country_data.boxplot(column='population', by='continent');

> Note: if you receive a `FutureWarning` about `reshape` being deprecated, you can safely ignore it.

### Bar plot

A **bar plot** for the _number of countries_ per _continent_
can be obtained via **grouping**.  
Recall that `grouped` was defined earlier
to capture the grouping of country data per continent.

In [ ]:
grouped['continent'].count().plot(kind='bar');

A **bar plot** for total _population_ per _continent_,
again based on the grouping computed earlier:

In [ ]:
grouped['population'].sum().plot(kind='bar');

### Scatter plot

A **scatter plot** that plots _area_ against _population_:

In [ ]:
country_data.plot(kind='scatter', x='area', y='population');

### Exercise <span class="exercise">4.a</span>

Show a dot plot of _area_ per country.

In [ ]:
#// BEGIN_TODO [EDA_4a] Dot plot for area per country (1 point)
#// END_TODO [EDA_4a]

### Exercise <span class="exercise">4.b</span>

Show an area plot of the _area_ per country sorted in descending order.  
(Hint: First compute country data sorted in descending order by _area_,
assigning it to `country_data_sorted_by_area`.  
Don't forget to use `.reset_index()`.)

In [ ]:
#// BEGIN_TODO [EDA_4b] Area plot for area per country (1 point)
#// END_TODO [EDA_4b]

### Exercise <span class="exercise">4.c</span>

Show a histogram with 30 bins for the country _area_ in _Europe_.  
(Hint: Reuse the boolean mask `countries_in_EU` computed earlier.)

In [ ]:
#// BEGIN_TODO [EDA_4c] Histogram for area per country in Europe (1 point)
#// END_TODO [EDA_4c]

The resulting histogram is not very informative,
illustrating the limitation of histograms.
Here, this is caused by one **outlier**.

### Exercise <span class="exercise">4.d</span>

Define a boolean mask `countries_in_EU_not_RUS` for countries in _Europe_ without _Russia_.  
(Hint: Reuse the boolean mask `countries_in_EU`.  
The `alpha_3` code of Russia is `RUS`.)

In [ ]:
#// BEGIN_TODO [EDA_4d] Boolean mask for countries in Europe without Russia (1 point)
#// END_TODO [EDA_4d]

### Exercise <span class="exercise">4.e</span>

Show a histogram with 30 bins for the country _area_ in _Europe_ without _Russia_.  
(Hint: Reuse the boolean mask `countries_in_EU_not_RUS` computed earlier.)

In [ ]:
#// BEGIN_TODO [EDA_4e] Histogram for area per country in Europe (1 point)
#// END_TODO [EDA_4e]

### Exercise <span class="exercise">4.f</span>

Show a density plot for the country _area_ in _Europe_ without _Russia_.

In [ ]:
#// BEGIN_TODO [EDA_4f] Density plot for area per country in Europe (1 point)
#// END_TODO [EDA_4f]

### Exercise <span class="exercise">4.g</span>

Show a box plot for the country _area_ in _Europe_ without _Russia_:

In [ ]:
#// BEGIN_TODO [EDA_4g] Box plot for area per country in Europe without Russia (1 point)
#// END_TODO [EDA_4g]

### Exercise <span class="exercise">4.h</span>

A box plot for country _area_ grouped by _continent_:

In [ ]:
#// BEGIN_TODO [EDA_4h] Box plots for country area grouped by continent (1 point)
#// END_TODO [EDA_4h]

### Exercise <span class="exercise">4.i</span>

Show a scatter plot that plots _area_ against _population_
for countries in _Europe_ without _Russia_:

In [ ]:
#// BEGIN_TODO [EDA_4i] Scatter plot for area against population for countries in Europe without Russia (1 point)
#// END_TODO [EDA_4i]

# <span class="section">5.</span> Case study: Speed of light

In the 19th century,
French physicists Fizeau and Foucault independently invented ways to measure the speed of light.
Foucault's method turned out to be the most accurate one.
The Foucault method is based on fast rotation mirrors.
The American physicists Michelson and Newcomb improved Foucault's method.
The data set `light.csv` contains measurements by Newcomb from 1882.

### Exercise <span class="exercise">5.a</span>: Load the data set

Write Python code to load the data set into a Pandas `DataFrame` named `df_light` and show the first 10 rows.

In [ ]:
file_light = './datasets/light.csv'

#// BEGIN_TODO [EDA_5a] Load the data set and show first 10 rows (1 point)
#// END_TODO [EDA_5a]

### Exercise <span class="exercise">5.b</span>: Summary statistics of raw values

Show the summary statistics for the `df_light` data frame.

In [ ]:
#// BEGIN_TODO [EDA_5b] Summary statistics (1 point)
#// END_TODO [EDA_5b]

### Exercise <span class="exercise">5.c</span>: Observation

Looking at the summary statistics, what do you observe? Select one of the answers below and assign your answer as string to the variable `stats_observation`, e.g. `stats_observation = 'a'`.

a) On average, the values are as expected.

b) The mean and the median are equal.

c) It is not clear how these values are related to the speed of light, e.g. there are negative values.

d) The median is in the middle between the min and max and equal to -2.

In [ ]:
#// BEGIN_TODO [EDA_5c] What do you notice? (1 point)
#// END_TODO [EDA_5c]

stats_observation

### Exercise <span class="exercise">5.d</span>: Add column with the decoded speed

It turns out that Newcomb coded the measurements to get smaller numbers in his table. The coding of these measurements was as follows:

> From the original measurements of time (in microseconds) needed by light to travel a distance of 7442 meters,
> first 24.8 was subtracted,
> after which the results were multiplied with 1000.

Create a new column labeled `"Speed [km/s]"` in your data set with the measured light speed in km/s.

In [ ]:
#// BEGIN_TODO [EDA_5d] Added column with speed in km/s (1 point)
#// END_TODO [EDA_5d]

### Exercise <span class="exercise">5.e</span>: Summary statistics of the decoded speed

Show the summary statistics for the speed of light in km/s.

In [ ]:
#// BEGIN_TODO [EDA_5e] Summary statics of speed (1 point)
#// END_TODO [EDA_5e]

### Exercise <span class="exercise">5.f</span>: Make a dot plot

Make a dot plot of the speed of light in km/s against the observation number (the observations are ordered by time).

In [ ]:
#// BEGIN_TODO [EDA_5f] Plot data against observation number (1 point)
#// END_TODO [EDA_5f]

### Exercise <span class="exercise">5.g</span>: Remove suspicious rows

Clean the data by removing any suspicious observations that you found in the previous question and
recompute the summary statistics of the speed of light in km/s
without these suspect observations.

Store the modified `DataFrame` under the name `df_light_clean`.

Hint: You are encouraged to add new markdown and code cells between the marker lines to explain the steps you are taking, e.g. what you define as a suspicious observation.

In [ ]:
#// BEGIN_TODO [EDA_5g] Remove suspicious rows (1 point)

In [ ]:
#// END_TODO [EDA_5g]

### Exercise <span class="exercise">5.h</span>: Check normality

Use appropriate plots to check whether a normal distribution (bell-shaped curve)
seems appropriate for the measurements of the speed of light in km/s for the two cases: _original_ data (`df_light`) and _cleaned_ data (`df_light_clean`).

Assign your (boolean) answers to the variables `original_speed_is_normal` and `clean_speed_is_normal`. For example, if you think that the distribution of the speed of light in the _original_ data is normal, then assign `original_speed_is_normal = True`, otherwise if you think that it is not normal, assign `original_speed_is_normal = False`.

In [ ]:
#// BEGIN_TODO [EDA_5h] Normality of distribution of the original and cleaned data (1 point)

In [ ]:
#// END_TODO [EDA_5h]

original_speed_is_normal, clean_speed_is_normal

### Exercise <span class="exercise">5.i</span>: Compare to current estimate

Find (using external sources) the current estimate for the speed of light in km/s.
Assign this value (in km/s) to the variable `c`. Does this value seem to be consistent with Newcomb's measurements in the _cleaned_ data?

Compute the **relative error percentage** of Newcomb's mean value with respect to the current estimate, i.e.

$$
\textsf{relative error percentage} = \frac{(\textsf{Newcomb's mean value}) - (\textsf{current estimate})}{\textsf{current estimate}} \times 100 \%
$$

Assign your computed relative error percentage to the variable `newcomb_rel`.

Hint: You are encouraged to add new markdown and code cells as needed between the marker lines.

In [ ]:
#// BEGIN_TODO [EDA_5i] Compare to current measurements (2 points)

In [ ]:
#// END_TODO [EDA_5i]
c, newcomb_rel

---

In [ ]:
# List all defined names
%whos

---

**Fontys Hogescholen ICT** - based on material from **TU/e**. Contact: s.orzan@fontys.nl